<!doctype html>
<html class="no-js" lang="zh-CN">
<head><title>手机版疯狂足球</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="//sta.36krcnd.com/jrstatic/styles/9f2be4af.download.css">
    <link rel="stylesheet" href="//sta.36krcnd.com/common-module/common-footer/footer.css">
</head>
<body>
<div class="pc-container" style="min-height: 0px">
    <img class="wave-img" src="//sta.36krcnd.com/jrstatic/images/download/64c89c6e.wave.png" alt="" width="100%"
         height="180">
    <div class="page0 active part1">
        <div class="screen screen1 before-show"><img class="kr-logo"
                                                     src="http://7xt3sl.com2.z0.glb.qiniucdn.com/home_white.png"
                                                     alt="">
            <div class="main"><h1 class="media-title">疯狂足球</h1>
                <h1 class="media-intro">让一部分人先看到未来</h1>
                <div class="btn-group"><a class="android-btn" href="http://t.cn/RVyU3cj"
                                          data-stat-click="Appdownload.36kr.android"><span
                                class="android">Android下载</span> </a><a class="apple-btn" href="http://t.cn/RVyU3cj"
                                                                        data-stat-click="Appdownload.36kr.ios"><span
                                class="appStore">App Store下载</span></a>
                    <div class="download-qrcode"><img
                                src="//sta.36krcnd.com/jrstatic/images/download/3284cf81.qrcode.png" width="100%"
                                alt=""></div>
                </div>
                <div class="screenshot screenshot-bigger"><img
                            src="http://7xt3sl.com2.z0.glb.qiniucdn.com/footbal_home.png" alt=""> <img
                            src="http://7xt3sl.com2.z0.glb.qiniucdn.com/football_pro.png" alt=""></div>
                <img class="screenshot-shadow" src="//sta.36krcnd.com/jrstatic/images/download/cdf52567.shadow.png"
                     alt=""></div>
        </div>
    </div>
    <div class="page1 part1">
        <div class="screen screen1 before-show"><img class="kr-logo"
                                                     src="//sta.36krcnd.com/jrstatic/images/download/3b083a5c.kr-logo.png"
                                                     alt="">
            <div class="main"><h1 class="media-title">疯狂足球创投助手</h1>
                <h1 class="media-intro">为创业者提供最好的产品和服务</h1>
                <div class="btn-group"><a class="android-btn"
                                          href="http://huodong.36kr.com/h5/investor-app/hub.html?ktm_source=newdownload"
                                          data-stat-click="Appdownload.36chuangtou.android"><span class="android">Android下载</span>
                    </a><a class="apple-btn"
                           href="http://huodong.36kr.com/h5/investor-app/hub.html?ktm_source=newdownload"
                           data-stat-click="Appdownload.36chuangtou.ios"><span class="appStore">App Store下载</span></a>
                    <div class="download-qrcode"><img
                                src="//sta.36krcnd.com/jrstatic/images/download/79de76ff.qrcode2.png" width="100%"
                                alt=""></div>
                </div>
                <div class="screenshot"><img src="//sta.36krcnd.com/jrstatic/images/download/bc218681.screen3.png"
                                             alt=""> <img
                            src="//sta.36krcnd.com/jrstatic/images/download/b5a74291.screen4.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="page1 part2">
        <div class="screen-blank"></div>
        <div class="screen screen2 before-show"><img class="sign-logo"
                                                     src="//sta.36krcnd.com/jrstatic/images/download/16f0901a.sign4.png"
                                                     width="230" alt="">
            <article class="sign-intro">
                <section>全网项目中精选最优质</section>
                <section>借助疯狂足球平台优势，精挑细选最优质的项目</section>
            </article>
        </div>
    </div>
</div>
<div class="h5-container">
    <div class="app-content">
        <div class="app-container fade"><img class="app-logo"
                                             src="http://7xt3sl.com2.z0.glb.qiniucdn.com/home_green.png"
                                             width="75" alt="">
            <h3 class="app-name">疯狂足球</h3>
            <section class="app-intro">为创业者提供最好的产品和服务</section>
            <div class="download-container"><a href="http://asset.36kr.com/m/hub.html" class="app-btn"><img
                            class="btn-logo" src="//sta.36krcnd.com/jrstatic/images/download/ccd40565.apple.png"
                            width="22" alt="">App Store下载 </a><a href="http://fir.im/45sa" class="app-btn"><img
                            class="btn-logo" src="//sta.36krcnd.com/jrstatic/images/download/c3927cbc.andriod.png"
                            width="22" alt="">Android下载</a></div>
        </div>
        <div class="app-container"><img class="app-logo"
                                        src="//sta.36krcnd.com/jrstatic/images/download/3c247376.logo3.png" width="75"
                                        alt="">
            <h3 class="app-name">疯狂足球创投助手</h3>
            <section class="app-intro">为创业者提供最好的产品和服务</section>
            <div class="download-container"><a
                        href="http://huodong.36kr.com/h5/investor-app/hub.html?ktm_source=newdownload"
                        class="app-btn"><img class="btn-logo"
                                             src="//sta.36krcnd.com/jrstatic/images/download/ccd40565.apple.png"
                                             width="23" alt="">App Store下载 </a><a
                        href="http://huodong.36kr.com/h5/investor-app/hub.html?ktm_source=newdownload"
                        class="app-btn"><img class="btn-logo"
                                             src="//sta.36krcnd.com/jrstatic/images/download/c3927cbc.andriod.png"
                                             width="23" alt="">Android下载</a></div>
        </div>
    </div>
</div>
<script src="//sta.36krcnd.com/jrstatic/scripts/8c359977.global-common.js"></script>
<script>(function (i, s, o, g, r, a, m) {
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//36kr.com/global/stat.js', 'krtracker');</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="//sta.36krcnd.com/jrstatic/scripts/514f383f.app.js"></script>

<script>// 微信分享
    function initWeixin() {
        if (window.InitWeixin) {
            window.WEIXINSHARE = {
                shareTitle: '把每天都看的疯狂足球装进手机',
                shareDesc: '竞彩，你还差一个疯狂足球APP',
                shareImg: 'http://krplus-pic.b0.upaiyun.com/201510/20045920/2n1uz8iycvedbbuj.png'
            };
            window.InitWeixin();
        } else {
            setTimeout(function () {
                initWeixin()
            }, 500)

        }
    }
    initWeixin();</script>
</body>
</html>